<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- <div *ngFor="let pair of course | keyvalue">
  {{pair.key + ': ' + pair.value}}
</div> -->

<!-- <button (click)="onCourseEmited()">
  Adding Course
</button> -->

<div class="courses" #container *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">

  <ng-template #noImage let-courseName="description">
    <p class="warn">{{courseName}}&nbsp;has no image loaded!</p>
    <img src="/assets/empty-image.png" alt="Empty Image">
  </ng-template>

  <course-card
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    (courseSelected)="onCourseEmit($event)"
    [course]="course"
    [cardIndex]="i+1"
    [noImageTemplate]="noImage"
    >

    <course-image [src]="course.iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>
</course-card>
</div>
